<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alters</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Understanding Riptwalkers
      </h1>
    </header>

    <main>
      <p class="bold">Use the tool below to experiment with the concept of Riptwalkers.</p>
      
      <form onsubmit="return false">
        <label for="first_name">Birth Name</label>
        <input name="first_name" id="first_name" type="text" maxlength="100" placeholder="" aria-labelledby="submit-dream">
        <label for="last_name">Sonship Name</label>
        <input name="last_name" id="last_name" type="text" maxlength="100" placeholder="" aria-labelledby="submit-dream">
        <button type="submit" id="create-person">Create Person</button>
      </form>
      <section>
        <p id="people"></p>
      </section>
      <img src="https://cdn.glitch.com/a29c1bff-0400-4c2f-9093-bcf6d17b5b87%2Fundraw_career_progress_ivdb.svg?1552976941319">
    </main>

  </body>
</html>
